@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Quicksand:wght@300..700&family=Sofadi+One&display=swap');

/* || BASIC RESET */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 800px;
    margin: auto;
    padding: auto;
}
/* \\ VARIABLES */
:root{
    --FONT-COLOR : #f8f8f8;
    --anim: borderGlow  60s ease infinite; 
   /*  --SPAN-COLOR : rgb(86, 110, 110); */
}



/* \\ GENERAL STYLES */
header{
    margin: 2em auto;
    text-align: center;
    border: 2px solid purple;
    padding: 1rem;
    display: block;
    width: 50%;
    border-radius: 15px;
    left: -30px;
    background: none;
    animation: var(--anim);
    transition: transform .5s ease-in;
}
header:hover,
.head > textarea:hover{
    animation: none;
    box-shadow: 0px 5px 2px rgba(122, 122, 118, 0.5);
}
header span {
    font-size: 1.5rem;
    font-family:"Sofadi One";
    font-weight: 400;
    color: var(--FONT-COLOR);

}
.head{
    margin: 2em;
    text-align: center;

}
.head > h1{
    color: var(--FONT-COLOR);
    font-size: 1.5em;
    font-family:"Sofadi One";
    text-align: center;
}
.head > textarea{
    margin-top: 1rem;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 10px;
    background: none;
    font-size: clamp(1em, 1.2em, 2em);
    animation: var(--anim);
    transition: transform ease-in .5s;
}
.head > textarea::placeholder{
  text-align: center;
  font-family: "Sofadi one";
}
.body{
    text-align: center;
    border: 2px solid purple;
    margin-left: 5.5em;
    width:75%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px gray;
    font-family:"Sofadi One";
    animation: var(--anim);
}
.voices, .animate{
    margin-top: 1em;
    padding: 1rem;
    font-size: clamp(1em, 1.2em, 2em);
    color: var(--FONT-COLOR);
    font-family:"Sofadi One";
}
input[type="checkbox"]{
  appearance: none;
  accent-color: purple;
  width: 20px;
  height: 20px;
  cursor: pointer;
  animation: var(--anim);
}
input[type="radio"]{
  appearance: none;
  border-radius: 50%;
  border: 2px solid purple;
  width: 20px;
  height: 20px;
  cursor: pointer;
  animation: var(--anim);
}
input[type="radio"]:checked{
  background: purple;
}
.rate,
.volume{
    padding: 1rem;
    color: var(--FONT-COLOR);
    font-size: clamp(1em, 1.2em, 2em);
}
.volume input{
  appearance: none;
  border-radius: 10px;
  background: none;
  height: fit-content;
  border: 2px solid purple;
  cursor: pointer;
  animation: var(--anim);
}
.volume input::-webkit-slider-thumb{
  appearance: none;
  background: purple;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.language select{ 
    padding: 5px;
    margin-bottom: 1rem;
    background: none;
    border-radius: 5px;
    border: 2px solid purple;
    cursor: pointer;
    animation: var(--anim);
}
.language select:focus, .language select:focus-visible{
  color: black;
}
.language{
    color: var(--FONT-COLOR);
    font-size: clamp(1em, 1.2em, 2em);
}
.btn{
   padding: 10px; 
   width: clamp(70%, 60%, 30%);
   margin-bottom: 1rem;
   border-radius: 10px;
   background: none;
   border: 2px solid purple;
   cursor: pointer;
   font-size: clamp(1em, 1.2em, 1.5em);
   animation: var(--anim);
}

.output{
  display: flex;
  border: 2px solid purple;
  border-radius: 1rem;
  padding: 1rem;
  font-size: clamp(1em, 1.2em, 2em);
  text-align: center;
  margin: 1rem auto;
  width: fit-content;
  max-width: 75%;
  animation: var(--anim);
}

footer{
    text-align: center;
    padding: 0.5em;
    color: var(--FONT-COLOR);
    font-size: clamp(1em, 1.2em, 2em);
    margin-bottom: 1rem;
    
}

/* \\ KEYFRAMES ANIMATIONS */
@keyframes borderGlow {
  0% {
    filter: hue-rotate(0deg);
    border-color: #ff0000;
  }
  100% {
    filter: hue-rotate(360deg);
    border-color: #0000ff;
  }
}

/* || MEDIA QUERIES */
@media(prefers-color-scheme: dark){
    body{
        background-color: black;
        color: black;
    }
    .head > textarea, .output, .btn, .language select{
      color: white;
    }
}
@media(prefers-color-scheme: light){
    body{
        background-color: floralwhite;
        color: black;
    }
    :root{
      --FONT-COLOR: black;
    }
}
@media screen and (max-width : 768px){
    html{
       border: none;
       max-width: fit-content;
    }
    header{
        margin-left: 3em;
        width: 75%;
    }
    .head{
        margin-left: 3em;
        width: 75%;
    }
   
    .head > textarea{
       margin-top: 1rem;
       width: 100%;
    }
    header:active,
.head > textarea:active{
    box-shadow: 0px 5px 2px rgba(122, 122, 118, 0.5);
}
    .body{
        margin-left: 3em;
       max-width: 75%;
    }
    .output{
      width: fit-content;
      max-width: 75%;
    }
    footer{
        margin-left: 3em;
        width: 75%;
    }

}

/* \\ THE END */